.container {
	display: flex;
	justify-content: center;
}

.center_container {
	display: flex;

	padding: 20px;

	align-items: center;
	justify-content: center;
	flex-direction: column;

	background: #E7EFF7;
	border-radius: 10px;
}

.inline_flex {
	display: flex;
	align-items: baseline;
}

.input_legend {
	margin-bottom: 10px;
}

.text_input {
	margin-bottom: 10px;
}

.radio {
	background: #E7EFF7;
	padding: 4px;
	border-radius: 3px;
	position: relative;
	margin-bottom: 10px;
}

.radio input {
	width: auto;
	height: 24px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	background: white;
	color: black;
	font-size: 14px;
	transition: all 100ms linear;
}

.radio input:checked {
	background-color: #7198C3;
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

.create_button {
	width: 100px;
	height: 25px;

	background-color: #7198C3;
	color: white;

	font-size: 16px;

	border-radius: 4px;
	border: 1px solid black;
}

.user_data_container {
	margin-bottom: 10px;
}

.user_data_item_header {
	margin-left: auto;
	margin-right: 5px;
}