.inline_flex {
    display: flex;
}

.action_section {
    display: flex;
    flex-grow: 0;
    margin-bottom: 10px;
}

.action_button {
    min-width: 150px;
    height: 25px;

    margin-right: 10px;

    background-color: #7198C3;
    color: white;

    font-size: 16px;

    border-radius: 4px;
    border: 1px solid black;
}

.action_button:hover {
    background-color: #6385AA;
}

.action_button:active {
    background-color: #6080A3;
}

.action_input {
    min-width: 150px;
    height: 20px;

    margin-right: 10px;
}

.action_button_small {
    min-width: 25px;
    padding: 0;
}

.css-modal-target-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Контейнер, который затемняет страницу */
.css-modal-target {
    display: none;
}

.css-modal-target:target {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(51, 122, 183, 0.7);
}

/* Модальное окно */
.css-modal-target .cmt {
    font-size: 16px;
    padding: 20px;
    width: 80%;
    z-index: 8;
    max-width: 500px;
    max-height: 70%;
    background: #FFF;
    text-align: center;
    overflow: auto;
}

/* Кнопка с крестиком закрывающая окно */
.css-modal-close {
    position: relative;
    display: block;
}

.css-modal-close:after {
    content: "";
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
    animation: move 0.5s ease;
}

.css-modal-close:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}


.radio {
    padding: 4px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 10px;
}

.radio input {
    width: auto;
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px 8px;
    background: white;
    color: black;
    font-size: 14px;
    transition: all 100ms linear;
}

.radio input:checked {
    background-color: #7198C3;
    color: #fff;
    box-shadow: 0 1px 1px #0000002e;
    text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
}

.action_grow {
    flex: 3 1 1px;
}

.action_time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;

    background-color: #7198C3;
    color: white;

    border-radius: 4px;
    border: 1px solid black;
}

.action_time_more {
    height: 25px;
}

.action_timer {
    font-size: 22px;
}

.action_time_text {
    display: flex;
}

.action_time_selector {
    position: absolute;
    display: none;
    right: 20px;
    height: 300px;
    width: 300px;

    padding: 10px;

    background-color: white;
    color: black;

    border-radius: 5px;
}

.action_time_selector_calendar {
    display: block;
    width: 296px;
    margin-bottom: 10px;
}

.action_time_selector_text {
    width: 295px;
    height: 50px;

    margin-bottom: 10px;

    resize: none;
}

.action_time_selector_buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.action_time_selector_button {
    width: 70px;

    background-color: #7198C3;
    color: white;

    border: 1px solid black;
    border-radius: 4px;
}

.action_time_selector_button:hover {
    background-color: #6385AA;
}

.action_time_selector_button:active {
    background-color: #6080A3;
}

.action_time_selector_button_submit {
    width: 100%;
    height: 30px;
}

.ticket_data {
    display: flex;
    margin-bottom: 10px;
}

.container {
    padding: 50px 20px 0 20px;
}

.ticket_info {
    margin-right: 10px;
}

.ticket_info,
.ticket_content {
    padding: 10px;
    border: 1px solid gray;

    background: #E7EFF7;
    border-radius: 10px;
}

.ticket_info_block:not(:last-child) {
    margin-bottom: 10px;
}

.ticket_content {
    width: 100%;
}

p {
    margin: 0;
}

.file_links a {
    color: black;
    text-decoration: underline;
}

.register_verification {
    display: none;
    margin-bottom: 10px;
}

.verify_registration_user_data_container {
    margin-bottom: 10px;
}

.verify_registration_user_data_header {
    margin-left: auto;
    margin-right: 5px;
}

.verify_registration_user_data_input {
    width: 50%;
}

.verify_registration_cmt {
    font-size: 16px;
    padding: 20px;
    width: 80%;
    z-index: 8;
    max-width: 300px;
    max-height: 70%;
    background: #FFF;
    text-align: center;
    overflow: auto;
}

.write_comment {
    padding: 10px;

    margin-bottom: 10px;

    background: #E7EFF7;
    border-radius: 10px;
}

.write_comment_text {
    width: 99.5%;
    height: 7%;

    resize: none;
}

.write_comment_header {
    margin: 0 0 10px 0;
}

.write_comment_button {
    width: 100px;
    height: 24px;

    background-color: #7198C3;
    color: white;

    border: 1px solid black;
    border-radius: 4px;
}

.write_comment_button:hover {
    background-color: #6385AA;
}

.write_comment_button:active {
    background-color: #6080A3;
}

.tabs {
    font-size: 0;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
    display: block;
    padding: 0;

    background-color: white;
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs>label:not(:first-of-type) {
    border-left: none;
}

.tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.comments_list {
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

.comment {
    margin-bottom: 10px;
}